.scrollbar-left {
  direction: rtl;
}

.scrollbar-left::-webkit-scrollbar {
  width: 2px; 
}

.scrollbar-left::-webkit-scrollbar-thumb {
  background-color: #A259FF;
  border-radius: 1px; 
}

.scrollbar-left::-webkit-scrollbar-track {
  background-color: #F5F5F5; 
}

.scrollbar-left > * {
  direction: ltr;
}

